<h1>Welcome, {{currentUser.email}}</h1>

<form method="post" action="/secrets/new">
    <div class="form-group">
        <label for="new-secret">New Secret</label>
        <input class="form-control" type="text" name="new-secret" id="new-secret">
    </div>
</form>

<div>
    <h2>My secrets</h2>
    {{#each mySecrets as |secret|}}
    <p class="lead">{{secret.text}}</p>
    {{#if secret.requestedUsers}}
    <p>Requests:</p>
    <ul>
        {{#each secret.requestedUsers as |requestUser|}}
        <li>
            <p>{{requestUser.email}}</p>
            <form method="post" action="/secrets/accept">
                <div class="form-group">
                    <input type="hidden" name="secretId" value="{{secret._id}}">
                    <input type="hidden" name="requesterId" value="{{requestUser._id}}">
                    <input type="submit" value="Accept" class="btn btn-primary">
                </div>
            </form>
            <form method="post" action="/secrets/decline">
                <div class="form-group">
                    <input type="hidden" name="secretId" value="{{secret._id}}">
                    <input type="hidden" name="requesterId" value="{{requestUser._id}}">
                    <input type="submit" value="Decline" class="btn btn-primary">
                </div>
            </form>
        </li>
        {{/each}}
    </ul>
    {{/if}} {{/each}}
</div>
<div>
    <h2>Shared secrets</h2>
    {{#each sharedSecrets as |secret|}}
    <p>{{secret.createdAt}}:{{secret.author}}</p>
    <p>{{secret.text}}</p>
    {{/each}}
</div>
