<h1>Welcome, {{currentUser.email}}</h1>

<form method="post" action="/secrets/new">
    <div class="form-group">
        <label for="new-secret">New Secret</label>
        <input class="form-control" type="text" name="new-secret" id="new-secret">
    </div>
</form>

<div>
    <h2>My secrets</h2>
    {{#each mySecrets as |secret|}}
    <p>{{secret.text}}</p>
    {{#each secret.requests as |request|}}
    <p>{{request.name}}</p>
    {{/each}} {{/each}}
</div>
<div>
    <h2>Shared secrets</h2>
    {{#each sharedSecrets as |secret|}}
    <p>{{secret.createdAt}}:{{secret.author}}</p>
    <p>{{secret.text}}</p>
    {{/each}}
</div>
