<div>
    <h2>All secrets</h2>
    {{#each secrets as |secret|}}
    <p>{{secret.createdAt}} by {{secret.author.email}}</p>
    {{#if secret.isAuthorized}}
    <p>{{secret.text}}</p>
    {{else}}
    <form method="post" action="/secrets/request">
        <input type="hidden" value="{{secret._id}}" name="secretId">
        <button type="submit">Request Authorization</button>
    </form>
    {{/if}} {{/each}}
</div>
